* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;

}

body {
    width: 100vw;
    height: 100vh;


}

.container {
    max-width: 1080px;
    display: flex;
    /*organizar os elementos de forma responsiva*/
    align-items: center;
    /*para alinhar os itens*/
    justify-content: center;
    /*alinha todos os flex items ao centro dentro do flex container.*/
    margin: 0 auto;
    /*para ficar ao centro da página*/
}





header {
    background-color: #ffff;
    width: 100%;
    padding: 10px;
    /* A propriedade padding define uma a distância entre o conteúdo de um elemento e suas bordas*/

}




.logo,
.sociais {
    width: 25%;


}

.logo img {
    width: 232px;
}

.img-fundo {
    width: 100vw;
    height: 100vh;

}


a:active {
    opacity: 0.8;


}

.menu {
    width: 50%;

}

.menu nav a {
    color: black;
    padding-right: 20px;
    /*para distanciar os ícones do menu*/
    cursor: pointer;
    position: relative;


}

.menu nav a::after {
    /*- serve para colocar animação sublinhada abaixo das opções do menu*/
    content: " ";
    /* "  " significa vazio */
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
    /*animação na base dos menus quando passar o mouse*/

}

.menu nav a:hover::after {
    /*animação do tamanho na base dos menus quando passar o mouse*/
    width: 45px;

}


button:active {
    opacity: 0.8;

}

.sociais button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    /*função para colocar a cor em degradê*/
    border: none;
    border-radius: 3px;
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
}



.promocoes {
    color: black;
    font-size: 12px;
    margin-left: 410px;
    margin-top: 50px;
}

.pratos-promocoes {
    margin-top: 30px;
    width: 250px;
    cursor: pointer;
    margin-left: 410px;
    display: inline-flex;



}

.yakisoba {
    border-radius: 5px;
    width: 217px;
    padding-right: 10px;
}


.yakisoba:hover {
    opacity: 0.5;

}

.yakisoba:active {
    opacity: 0.8;

}

.hot {
    border-radius: 5px;
    padding-right: 10px;
}


.hot:hover {
    opacity: 0.5;
}

.hot:active {
    opacity: 0.8;

}

.sou-mais-hot {
    border-radius: 5px;
    width: 217px;
    padding-right: 10px;
}

.sou-mais-hot:hover {
    opacity: 0.5;
}

.sou-mais-hot:active {
    opacity: 0.8;

}

.to-sozinho {
    border-radius: 5px;
    width: 217px;
    padding-right: 10px;

}

.to-sozinho:hover {
    opacity: 0.5;
}

.to-sozinho:active {
    opacity: 0.8;

}

.poke {
    border-radius: 5px;
    width: 217px;
    padding-right: 10px;

}

.poke:hover {
    opacity: 0.5;
}

.poke:active {
    opacity: 0.8;

}


.pratos,
.kombos-promocoes,
.kombinados-promocoes-img,
.pokes-promocoes-img {
    margin-top: 20px;
    display: flex;
    cursor: pointer;
}

.yakisoba1 {
    font-size: 15px;
    margin-left: 420px;
    width: 200px;


}

.hot1 {
    font-size: 15px;
    margin-left: 20px;
    width: 200px;
}

.sou-mais-roll1 {
    font-size: 15px;
    margin-left: 25px;
    width: 200px;
}

.to-sozinho1 {
    font-size: 15px;
    margin-left: 20px;
    width: 200px;
}

.poke-fresh1 {
    font-size: 15px;
    margin-left: 15px;
    width: 200px;
}

.preco-promocao {
    margin-top: 30px;
    display: flex;
    margin-left: 440px;


}

h3 {
    font-size: 16px;
    margin-right: 100px;
    color: rgb(133, 127, 127);


}

.kombos {
    color: black;
    font-size: 12px;
    margin-left: 410px;
    margin-top: 50px;
}

.kombos-promocoes {
    font-size: 15px;
    margin-left: 410px;
    width: 200px;

}

.kombo1-sem-bebida {
    font-size: 15px;
    width: 220px;
    border-radius: 5px;
    padding-right: 10px;
}

.kombo1 {
    font-size: 15px;
    width: 220px;
    border-radius: 5px;
    padding-right: 10px;


}

.kombo2-sem-bebida {
    font-size: 15px;
    width: 220px;
    border-radius: 5px;
    padding-right: 10px;


}

.kombo2 {
    font-size: 15px;
    width: 220px;
    border-radius: 5px;
    padding-right: 10px;

}

.pratos-kombos {
    font-size: 15px;
    margin-left: 420px;

    display: flex;
    padding-right: 10px;

}

.preco-kombos {
    margin-top: 30px;
    display: flex;
    margin-left: 440px;

}

.kombo-1 {
    font-size: 15px;
    width: 223px;
}

.kombo-2 {
    font-size: 15px;

    width: 220px;
}

.kombo-3 {
    font-size: 15px;

    width: 225px;

}

.kombo-4 {
    font-size: 15px;

    width: 225px;

}

.kombo1-sem-bebida:hover {
    opacity: 0.5;

}

.kombo1-sem-bebida:active {
    opacity: 0.8;

}

.kombo1:hover {
    opacity: 0.5;

}

.kombo1:active {
    opacity: 0.8;

}

.kombo1-sem-bebida:hover {
    opacity: 0.5;

}

.kombo1-sem-bebida:active {
    opacity: 0.8;

}

.kombo2-sem-bebida:hover {

    opacity: 0.5;
}

.kombo2-sem-bebida:active {
    opacity: 0.8;

}

.kombo2:hover {
    opacity: 0.5;

}

.kombo2:active {
    opacity: 0.8;

}

.kombinados {
    color: black;
    font-size: 12px;
    margin-left: 410px;
    margin-top: 50px;
}

.kombinados-promocoes-img {
    font-size: 15px;
    margin-left: 410px;
    width: 200px;


}

.preco-kombinados {
    margin-top: 30px;
    display: flex;
    margin-left: 440px;

}

.tamo,
.galera,
.pra-mim,
.todo-meu,
.levinho {

    font-size: 15px;
    width: 220px;
    border-radius: 5px;
    padding-right: 10px;

}

.pratos-kombinados {
    font-size: 15px;
    display: flex;
    margin-left: 400px;
}

.tamo1 {
    font-size: 15px;
    width: 180px;
    height: auto;
    padding: 20px;

}


.galera1 {
    font-size: 15px;
    width: 180px;
    height: auto;
    padding: 20px;
    margin-left: 50px;

}

.pra-mim1 {
    font-size: 15px;
    width: 180px;
    height: auto;
    padding: 20px;
    margin-left: 40px;

}

.todo-meu1 {
    font-size: 15px;
    width: 180px;
    height: auto;
    padding: 20px;
    margin-left: 40px;

}

.levinho1 {
    font-size: 15px;
    width: 180px;
    height: auto;
    padding: 20px;
    margin-left: 40px;
}

.tamo:hover {
    opacity: 0.5;

}

.tamo:active {
    opacity: 0.8;

}

.galera:hover {
    opacity: 0.5;

}

.galera:active {
    opacity: 0.8;

}

.pra-mim:hover {
    opacity: 0.5;

}

.pra-mim:active {
    opacity: 0.8;

}

.todo-meu:hover {
    opacity: 0.5;

}

.todo-meu:active {
    opacity: 0.8;

}

.levinho:hover {
    opacity: 0.5;

}

.levinho:active {
    opacity: 0.8;

}

.pokes {
    color: black;
    font-size: 12px;
    margin-left: 410px;
    margin-top: 50px;
}

.pokes-promocoes-img {
    font-size: 15px;
    margin-left: 410px;
    width: 200px;




}

.poke-trufado,
.poke-fresh-croc,
.poke-fresh-mix,
.poke-camarao,
.poke-salmao {

    font-size: 15px;
    width: 220px;
    border-radius: 5px;
    padding-right: 10px;

}

.pratos-pokes {
    font-size: 15px;
    display: flex;
    margin-left: 400px;
}

.poke-trufado1 {
    font-size: 15px;
    width: 180px;
    height: auto;
    padding: 20px;

}

.poke-fresh-croc1 {
    font-size: 15px;
    width: 180px;
    margin-left: 50px;
    padding: 20px;
    height: auto;


}

.poke-fres-mix1 {
    font-size: 15px;
    width: 180px;
    margin-left: 40px;
    padding: 20px;
    height: auto;


}

.poke-camarao1 {
    font-size: 15px;
    width: 180px;
    margin-left: 40px;
    padding: 20px;
    height: auto;
}

.poke-salmao1 {
    font-size: 15px;
    width: 180px;
    margin-left: 40px;
    padding: 20px;
    height: auto;

}

.preco-pokes{
    margin-top: 30px;
    display: flex;
    margin-left: 440px;

}

.poke-trufado:hover {
    opacity: 0.5;

}

.poke-trufado:active {
    opacity: 0.8;

}

.poke-fresh-croc:hover {
    opacity: 0.5;

}

.poke-fresh-croc:active {
    opacity: 0.8;

}

.poke-fresh-mix:hover {
    opacity: 0.5;

}

.poke-fresh-mix:active {
    opacity: 0.8;

}

.poke-camarao:hover {
    opacity: 0.5;

}

.poke-camarao:active {
    opacity: 0.8;

}

.poke-salmao:hover {
    opacity: 0.5;

}

.poke-salmao:active {
    opacity: 0.8;

}

.logar {
    background-color: rgb(240, 43, 43);
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 65px;
    cursor: pointer;
    height: 30px;
}

.logar:hover {
    opacity: 0.8;

}

.logar:active {
    opacity: 0.6;
    color: #fff;

}